// @import "fonts";

// You can modify the theme directly, or override some of the variables
// Overrides just need placed prior to the theme import
// For example:
// $color-primary: #3a0;
// @import "theme";
@import "reset";
// @import "logomark";
// @import "typography";
// @import "layout";
// @import "header";
// @import "nav";
// @import "about";
// @import "guidelines";
// @import "contribute";
// @import "files";
// @import "styles";
// @import "profile";
// @import "footer";
// @import "links";

//@import url('https://fonts.googleapis.com/css2?family=Yrsa&display=swap');

// font-family: 'Yrsa', serif;
// italic, weight
// $font: 'Yrsa', serif;

//@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

// font-family: 'Syne', sans-serif;
// weight
// $font: 'Syne', serif;

@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;900&display=swap');

// font-family: 'Saira', sans-serif;
// italic, weight, width
 $font: 'Saira', sans-serif;

//@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

//font-family: 'Mulish', sans-serif;
// italic, weight
// $font: 'Mulish', sans-serif;

//@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

// font-family: 'Dosis', sans-serif;
// weight
// $font: 'Dosis', sans-serif;

//@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text&display=swap');

// font-family: 'Big Shoulders Inline Text', cursive; 
// weight
//$font: 'Big Shoulders Inline Text', cursive;



// Weight	wght
// Width	wdth
// Slant	slnt
// Optical Size	opsz
// Italics	ital



//font-weight: 125;
// font-stretch: 33.3%;
// font-variation-settings: 'ital' 1;
// font-variation-settings: 'slnt' 10;

/* SCSS HEX */
$ivory: #f8fbef;
$beige: #eef5db;
$powderblue: #b8d8d8;
$cadetblue: #7a9e9f;
$charcoal: #3e4e51;
$scarlet: #fe5f55;
$burgundy: #341e1e;

p {
  margin: 0 0 .7em 0;
  padding: 0;
}

blockquote {
  margin: 0 0 .7em 3em;
  padding: 0;
}

h2, h3, h4 {
  font-size: 3em;
  line-height: 1.2;
}

h3 {
  font-size: 2.6em;
}

h4 {
  font-size: 2.2em;
}

//



//

body {
  // display: flex;
  // // flex-wrap: wrap;
  background-color: black;
  font-family: $font;
  font-weight: 300;

  // & > a {
  //   display: none;
  // }

  $padding-width: 3;

  a {
    color: black;
    background-color: $ivory;
    margin-bottom: -100vh;
    height: 100vh;
    display: inline-block;

    //padding: 20px;



  }

  & > a {
    color: white;
    background-color: black;
    text-decoration: none;
    
    display: inline;

    padding: 0
              ($padding-width + 0vw)
              0
              ($padding-width + 0vw);
  }

  & > * {
    // width: 100%;
    min-height: 100vh;
  }

  header, 
  nav,
  #about .container,
  #guidelines .container,
  #contribute .container,
  aside,
  footer .container
   {
    padding: ($padding-width + 0vw)
             ($padding-width + 0vw)
             ($padding-width + 0vw)
             ($padding-width + 0vw);

             width: 100%;
    min-height: 100vh;
  }

  header {
    background-color: $scarlet;
    position: relative;
    color: $ivory;

    a { 
      color: ivory;
    }

    h1 {
      font-weight: 900;
      font-size: 15vw;
      text-align: right;
      line-height: 1.4;
      color: $ivory;
      text-shadow: 2px 2px 2px #000000;
    }

    h2 {
      font-size: 6vw;
      line-height: .95;
      text-align: left;
      font-weight: 300;
      color: $ivory;
      text-shadow: 2px 2px 2px #000000;
    }

    p {
      background-color: rgba($burgundy,.7);
      display: inline-block;
      padding: .05em .3em;
    }

    .container {
      & > a {
        position: absolute;
        right: 0;
        top: 0;
        background-color: red;
        display: block;
        text-align: right;
        padding: .2rem .4rem;
      }
    }

    p {

    }

    .link-github { 
      background-color: $burgundy;
      svg {
        color: white
      }
    } 
  } //  end header
  nav {
    background-color: $charcoal;
    a {
      color: $burgundy;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 20px; 
      justify-content: center;
      align-items: center;
      align-content: flex-end;

      
      li {
        border: double 12px white;
        
        min-width: 20vw;
        font-size: 2rem;
        background-color: $charcoal;
        text-align: center;
        vertical-align: middle;
        min-height: 25vh;

        min-width: 20vw;

        &:hover {

          background-color: $scarlet;
          border: double 12px $powderblue;
          a {
            background-color: $powderblue;
          }
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(6) {
          min-width: 60vw;
        }

        a {
          text-decoration: none;
          background-color: white;
          display: block;
          text-transform: lowercase;
        }
      }
    }
  } // end nav
  main {
    //background-color: dodgerblue;
    //padding: 20px;
    .container {
      display: flex;
      flex-wrap: wrap;
        article {
          & > *:nth-child(1n) {
            background-color: $powderblue;
          }
          & > *:nth-child(2n) {
            background-color: $burgundy;
            color: $ivory;
          }
          & > *:nth-child(3n) {
            background-color: hotpink;
          }
          section {
            background-color: rgba(255,255,255,.5);
          }
          footer {
            background-color: rgba(1,1,1,.3);
          }
          
          &#about {
            background-color: mediumblue;
          }
          &#guidelines {
            background-color: yellowgreen;
          }
          &#contribute {
            background-color: rgb(66, 192, 241);
          }
        }
      }
    } // end main
  aside {
    &.profile {
      width: 100%;
    }
    &:nth-of-type(2n+1) {
      background-color: fuchsia;
    }
    &:nth-of-type(2n) {
      background-color: skyblue;
    }
  } //end aside
  
  & > footer {
    background-color: tomato;
  }
} //end body

.link-github { 

    svg {
      display: inline-block;
      max-width: 1rem;
    }

  
} 