/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* SCSS HEX */
p {
  margin: 0 0 0.7em 0;
  padding: 0;
}

blockquote {
  margin: 0 0 0.7em 3em;
  padding: 0;
}

h2, h3, h4 {
  font-size: 3em;
  line-height: 1.2;
}

h3 {
  font-size: 2.6em;
}

h4 {
  font-size: 2.2em;
}

body {
  background-color: black;
  font-family: "Saira", sans-serif;
  font-weight: 300;
}
body a {
  color: black;
  background-color: #f8fbef;
  margin-bottom: -100vh;
  height: 100vh;
  display: inline-block;
}
body > a {
  color: white;
  background-color: black;
  text-decoration: none;
  display: inline;
  padding: 0 3vw 0 3vw;
}
body > * {
  min-height: 100vh;
}
body header,
body nav,
body #about .container,
body #guidelines .container,
body #contribute .container,
body aside,
body footer .container {
  padding: 3vw 3vw 3vw 3vw;
  width: 100%;
  min-height: 100vh;
}
body header {
  background-color: #fe5f55;
  position: relative;
  color: #f8fbef;
}
body header a {
  color: ivory;
}
body header h1 {
  font-weight: 900;
  font-size: 15vw;
  text-align: right;
  line-height: 1.4;
  color: #f8fbef;
  text-shadow: 2px 2px 2px #000000;
}
body header h2 {
  font-size: 6vw;
  line-height: 0.95;
  text-align: left;
  font-weight: 300;
  color: #f8fbef;
  text-shadow: 2px 2px 2px #000000;
}
body header p {
  background-color: rgba(52, 30, 30, 0.7);
  display: inline-block;
  padding: 0.05em 0.3em;
}
body header .container > a {
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  display: block;
  text-align: right;
  padding: 0.2rem 0.4rem;
}
body header .link-github {
  background-color: #341e1e;
}
body header .link-github svg {
  color: white;
}
body nav {
  background-color: #3e4e51;
}
body nav a {
  color: #341e1e;
}
body nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}
body nav ul li {
  border: double 12px white;
  min-width: 20vw;
  font-size: 2rem;
  background-color: #3e4e51;
  text-align: center;
  vertical-align: middle;
  min-height: 25vh;
  min-width: 20vw;
}
body nav ul li:hover {
  background-color: #fe5f55;
  border: double 12px #b8d8d8;
}
body nav ul li:hover a {
  background-color: #b8d8d8;
}
body nav ul li:nth-child(2), body nav ul li:nth-child(3), body nav ul li:nth-child(6) {
  min-width: 60vw;
}
body nav ul li a {
  text-decoration: none;
  background-color: white;
  display: block;
  text-transform: lowercase;
}
body main .container {
  display: flex;
  flex-wrap: wrap;
}
body main .container article > *:nth-child(1n) {
  background-color: #b8d8d8;
}
body main .container article > *:nth-child(2n) {
  background-color: #341e1e;
  color: #f8fbef;
}
body main .container article > *:nth-child(3n) {
  background-color: hotpink;
}
body main .container article section {
  background-color: rgba(255, 255, 255, 0.5);
}
body main .container article footer {
  background-color: rgba(1, 1, 1, 0.3);
}
body main .container article#about {
  background-color: mediumblue;
}
body main .container article#guidelines {
  background-color: yellowgreen;
}
body main .container article#contribute {
  background-color: #42c0f1;
}
body aside.profile {
  width: 100%;
}
body aside:nth-of-type(2n+1) {
  background-color: fuchsia;
}
body aside:nth-of-type(2n) {
  background-color: skyblue;
}
body > footer {
  background-color: tomato;
}

.link-github svg {
  display: inline-block;
  max-width: 1rem;
}
